<!doctype html>
<head>

  <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">
  <link rel=stylesheet type=text/css href="{{ url_for('static', filename='readme.css') }}">
</head>

<div class="centerdiv">
    <title>README</title>
    <h1>How to Query API DATA:</h1>
    <h4>Endpoints:</h4  >
    <ul>
      <li><span class = "bold">/colors?name=[insert paint name]:</span> seaches for paint based on Color Name <br>(i.e. /colors?name=fresh+lemonade)</li><br>

      <li><span class = "bold">/colors?R=[R]&amp;G=[G]&amp;B=[B]:</span> seaches for paint based on RGB values<br>(i.e. /colors?R=236?G=230?B=120)</li><br>

      <li><span class = "bold">/&lt;string:harmony?name=[insert paint name]:</span> returns the requested harmony based on Color Name<br>(i.e. /complementary?name=fresh+lemonade)</li><br>
  
      <li><span class = "bold">/&lt;string:harmony?R=[R]&amp;G=[G]&amp;B=[B]:</span> returns the requested harmony based on RGB values<br>(i.e. /complementary?R=236?G=230?B=120) </li>
    </ul>
    <h4>Harmonies available:</h4>
    <ul>
      <li>complementary</li>
      <li>triadic</li>
      <li>split_complementary</li>
      <li>tetradic</li>
      <li>analogous</li>
      <li>monochromatic</li>
      <li>lighter</li>
      <li>darker</li>

    </ul>

    <h4>Try it out below: </h4>
    <form id="color" action="" method="get">
      <div class="form-group">
        <div class="form-row">
          <div class="col-5">
              <input type="text" class="form-control" name="name" placeholder="Paint name">
          </div>
        </div>
      </div>
    
     <p class = "bold">OR</p>
      
      <div class="form-group">
        <div class="form-row">
            <div class="col-4">
              <input type="text" name="R" class="form-control" placeholder="Red">
            </div>
            <div class="col">
              <input type="text" name ="G" class="form-control" placeholder="Green">
            </div>
            <div class="col">
              <input type="text" name="B" class="form-control" placeholder="Blue">
            </div>
        </div>
      </div>

      <p class = "bold">Select query option</p>

      <div class="form-group">
        <div class="form-row">
          <select name="choose" class="custom-select col-4">
              <option selected>Select option</option>
              <option value="colors">List details</option>

              <option value="complementary">Complementary</option>
              <option value="triadic">Triadic</option>
              <option value="split_complementary">Split Complementary</option>
              <option value="tetradic">Tetradic</option>
              <option value="analogous">Analogous</option>
              <option value="monochromatic">Monochromatic</option>
              <option value="lighter">Lighter</option>
              <option value="darker">Darker</option>
          </select>
        </div>
      
      </div>
      
      <button type="submit" class="btn btn-primary">Submit</button>
      
    </form>

    <script>
      document.getElementById('color').choose.onchange = function() {
        var newaction = this.value;
        document.getElementById('color').action = newaction;
      };
    </script>

</div>
